<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="salam.gopray.id">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitlex"
        tools:replace="android:theme">

        <activity android:name="salam.gopray.id.MainActivity" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyWelcomeActivity"
            android:theme="@style/WelcomeScreenTheme"/>
        <activity android:name=".MySplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="salam.gopray.id.Fragment.aktivitas.MainAktivitas" android:hardwareAccelerated="false"/>
        <activity android:name="salam.gopray.id.Fragment.setting.SettingAktivitas" android:hardwareAccelerated="false"/>

        <service
            android:name="salam.gopray.id.service.intent.JadwalSholatService"
            android:exported="false" />
        <service
            android:name="salam.gopray.id.service.TimeService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name="salam.gopray.id.service.MainServices" />
        <service android:name="salam.gopray.id.service.intent.ServiceTimeline" />
        <service android:name="salam.gopray.id.service.intent.UploadTimeline" />
        <service android:name="salam.gopray.id.service.intent.ProfilePictureService"/>
        <service android:name="salam.gopray.id.service.intent.QuoteService"/>
        <service android:name=".service.intent.MessageParentService"/>
    </application>

</manifest>